@use 'color';

.app {
    display: grid;
    place-items: center;
}

.container {
    display: flex;
    border-radius: 10px;
    z-index: 1;
}

.box_bottom_shadow {
    box-shadow: 0 8px 6px -5px black;
}

.main {
    background-color: color.$primary-color;

    margin-top: -8px;
    margin-left: -8px;
    border-radius: 0px;
    height: 99.2vh;
    width: 100vw;
}

.secondary {
    background-color: color.$secondary-color;

    width: 1;
    height: 1;
    margin: 20px;
}